body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    overflow: hidden; 
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-content {
    text-align: center;
}

.popup-content img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


/* took the styles from my dissertation buttons lol */
.navigateButton {
    margin-top: 10px;
    padding: 4px 8px; 
    text-align: center;
    cursor: pointer;
    background-color: #588157;
    color: white;
    font-size: 1.2em; 
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    transition: .2s;
}

.navigateButton:hover{
    box-shadow: 3px 3px 3px lightgray; 
    transform: scale(1.05);
    background-color: white;
    color: black;
}

@media screen and (min-width: 768px) {
    #map {
        height: 50vh; 
    }
}

/* styling the directions box */
.leaflet-routing-container {
    width: 210px; 
    height: 210px; 
    overflow-y: auto; /* scrollbar incase of overflow*/
    border: 1px solid #ccc; /*  border for visibility */
    background-color: whitesmoke; /*  solid background for visibility */
    text-align: left;
    text-wrap: balance;
}

/* took the styles from my dissertation buttons lol */
.endRouteButton {
    position: fixed;
    top: 230px;
    right: 10px;
    z-index: 1000;
    padding: 4px 8px; 
    text-align: center;
    cursor: pointer;
    background-color: #588157;
    color: white;
    font-size: 1.2em; 
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    transition: .2s;
}

.endRouteButton:hover {
    box-shadow: 3px 3px 3px lightgray; 
    transform: scale(1.05);
    background-color: white;
    color: black;
}